.MuteButton {
  margin: 1em;
  margin-top: 0;
  box-shadow: 0 0 0 1px inset #3c5974 !important;

  svg, span {
    margin: auto;
    color: rgb(60, 89, 116);
  }

  &:hover { 
    background-color: transparent !important;
  }

  &.muted {
    box-shadow: none !important;
    background-color: #F24949 !important;
  
    svg, span {
      color: white;
    }
  }
}