.LanguageSelector {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em 1em 0.5em 1em;

  .exchange {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    outline: 0;
    align-self: end;
    padding: 0.5em 1em;
  }

  .Selector {
    width: 50%;
    span {
      font-weight: normal;
    }
  }
}